<%- include('partials/header'); -%>
<h1>My profile</h1>
<a href="/">Back to dashboard </a>
<p>Full name: <%= user.firstName %> <%= user.lastName %></p>
<p>Email: <%= user.email %></p>
<p>GitHub: <%= user.github %></p>
<%- include('partials/footer'); -%>