<%- include('partials/header'); -%>
<div class="container">
  <a href="/">Back to dashboard </a>
  <h1 class="my-profile-title">My profile</h1>
  <div class="my-profile">
    <div class="profile-details">
      <img src="/photo-test.png" alt="photo test">
      <div class="details">
        <div class="profile-details-container">
          <p>Full name: <%= user.firstName %> <%= user.lastName %></p>
          <p>Email: <%= user.email %></p>
          <p>GitHub: <%= user.github %></p>
        </div>
        <div class="btn">
          <button>btn1</button>
          <button>btn2</button>
          <button>btn3</button>
        </div>
        </div>
    </div>
  </div>
</div>
<%- include('partials/footer'); -%>